
{% extends 'layout.html' %}
{% block content %}  
<div>
    <h2>Edit Blog</h2>
    <form action="{{url_for('edit_blog', id = blog.id)}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value = "{{ blog.title }}">
        </div>
        <div class="form-group">
            <label for="Subtitle">Subtitle</label>
            <input type="text" id="Subtitle" name="subtitle" value="{{ blog.subtitle}}">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10">{{ blog.content }}</textarea>
        </div>
        <div>
            <input type="file" name="cover_image" />
          </div>
        <div class="actions">
            <button type="submit">Update</button>
        </div>

    </form>
</div>

{% endblock content %}
