<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <meta name="description" content="This Flask and MySQL CRUD blog application that allow people to share technological article">
    <meta name="keywords" content="Flask, MySQL, Python for Web, CRUD Application">
    <meta name="author" content="Asabeneh Yetayeh">
    <meta property="og:image" content="./static/images/sample.png"/>
    <title>Flask and MySQL CRUD Blog</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="{{url_for('home')}}">Home</a>
            </li>
            <li>
                <a href="{{url_for('about')}}">Abut</a>
            </li>
            <li>
                <a href="{{url_for('blogs')}}">Blogs</a>
            </li>
            <li>
                <a href="{{url_for('add_blog')}}">Create</a>
            </li>
            <li>
                <a href="{{url_for('blog_api')}}">Blogs API</a>
            </li>
        </ul>
    </header>

    <main>
        {% block content %}
        
        {% endblock content%}    
</body>
</html>