{% extends 'layout.html' %}
{% block content %}
    <section>
        <h1>About Us</h1>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ratione libero non commodi ea a suscipit fugiat cum animi? Eos iure officia est voluptatibus harum omnis earum tempora. Blanditiis, repudiandae.
            Suscipit itaque ipsum, commodi totam temporibus explicabo optio praesentium cupiditate, illo ipsam, animi beatae earum corporis obcaecati eveniet atque iusto aperiam ex et tempore officia veritatis aut. Ex, consectetur aspernatur?
            Eos, iusto necessitatibus. Autem, cumque consequuntur. Ipsa saepe nisi laboriosam quod cupiditate et amet aperiam animi, eius veritatis laborum consequatur voluptate temporibus similique earum aspernatur, perferendis pariatur, quidem explicabo ullam.</p>
        </div>
    </section>
    {% endblock %}

    
  