

main, header{
    width: 65%;
    margin: auto;
}
header {
    border-bottom: 5px solid gray;
}
ul {
    display: flex;
    justify-content: space-around;
}
ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color:black;
    text-transform: uppercase;
}

section.blog-section {
    padding: 25px;
    margin: 25px 0;
    box-shadow: 0 0 3px 2px rgb(218, 212, 212);
    border-radius: 15px;
 
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
